In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import scipy

In [6]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
product_df = pd.read_csv('_SELECT_first_level_category_name_product_name_user_id_sum_qty_a_202107021108.csv', converters={'user_id':str})

In [4]:
product_df.head()

,first_level_category_name,product_name,user_id,sum_qty,supply_price,sum_order_total,store_name
0,03禽类,飞鸟集 单冻鸡翅尖 500g正负20g/包,568810000444629162,1,4.00,4.99,板芙镇天福店
1,03禽类,好食汇生鲜 优级半片鸭 950g至1100g/袋,568810000288376147,1,10.90,13.90,钟堂村港墘1号兴盛优选
2,01蔬菜,地之蜜 杏鲍菇250g/袋,568810000606314062,1,0.69,0.99,共强村东城花园共强生活超市
3,12方便食品,【好吃必备】同碗福 嗨吃家酸辣粉 106g/桶 6桶/件,568810000739488182,1,8.50,9.90,100米便利店
4,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568810000254377741,1,9.00,9.90,诚欣便利店

In [16]:
product_df.describe(percentiles = [.75, .80, .85, .90, .95, .98])

            sum_qty  supply_price  sum_order_total
count 6058985.00000 6058985.00000    6058985.00000
mean        1.44963      10.39123         16.69079
std         8.82522      29.36674        105.59378
min         1.00000       0.09000          0.50000
50%         1.00000       4.09000          5.99000
75%         1.00000       8.50000         11.98000
80%         1.00000      10.00000         14.90000
85%         2.00000      13.00000         19.90000
90%         2.00000      21.43000         30.90000
95%         3.00000      45.00000         53.91000
98%         5.00000      91.90000         99.80000
max     12672.00000    6300.00000      78210.00000

In [17]:
for product in product_df['product_name'].unique():    
    test_df = product_df.loc[product_df.product_name == product]    
    test_98 = test_df['sum_qty'].quantile(.98)  
    test_gt_98 = test_df[test_df.sum_qty>test_98]

KeyboardInterrupt:

In [14]:
test_gt_median.head()

,first_level_category_name,product_name,user_id,sum_qty,supply_price,sum_order_total,store_name
3764,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568810000412666641,2,9.00000,19.80000,兴盛优选北头小店
25827,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568812800115337981,2,9.00000,19.80000,荣同军优选福利店
52012,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568810000444274799,2,9.00000,19.80000,兴盛优选刘畈超市
65204,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568812600114719915,2,9.00000,19.80000,方春华便民平价超市
66328,05蛋类,洪湖乡村情 土鸡蛋20枚/盒,568810000349747273,2,9.00000,19.80000,袁彤平价超市

In [15]:
test_gt_median.describe()

        sum_qty  supply_price  sum_order_total
count 429.00000     429.00000        429.00000
mean    2.00000       9.00000         19.80000
std     0.00000       0.00000          0.00000
min     2.00000       9.00000         19.80000
25%     2.00000       9.00000         19.80000
50%     2.00000       9.00000         19.80000
75%     2.00000       9.00000         19.80000
max     2.00000       9.00000         19.80000

In [19]:
store_0706 = pd.read_csv('daily_store_product_order_info_0706.csv', converters = {'product_name':str,'store_name':str})
store_0705 = pd.read_csv('daily_store_product_order_info_0705.csv',converters = {'product_name':str,'store_name':str})

In [23]:
store_0705.head()

,product_name,qty,store_name,store_commission,ordertotal,supply_price,qty_with_discount
0,信和盛 油粘米 15kg/袋,1,优选铃霞商店,3.50000,78.90000,73.90000,1
1,信和盛 油粘米 15kg/袋,1,乐享生活超市,3.50000,78.90000,73.90000,1
2,信和盛 油粘米 15kg/袋,1,社区活动室,3.50000,78.90000,73.90000,1
3,信和盛 油粘米 15kg/袋,1,红联商店,3.50000,78.90000,73.90000,1
4,信和盛 油粘米 15kg/袋,1,占平兴盛优选店,3.50000,78.90000,73.90000,0

In [20]:
store_0706.describe()

,qty,store_commission,ordertotal,supply_price,qty_with_discount
count,1864892.00000,1864892.00000,1864892.00000,1864892.00000,1864892.00000
mean,1.32316,1.04442,17.06791,11.78526,0.00625
std,3.14923,1.85321,104.31176,45.51737,0.14758
min,1.00000,0.10000,0.99000,0.20000,0.00000
25%,1.00000,0.40000,3.99000,2.87000,0.00000
50%,1.00000,0.60000,7.99000,5.79000,0.00000
75%,1.00000,1.00000,13.98000,9.50000,0.00000
max,2000.00000,120.00000,77800.00000,6300.00000,99.00000

In [21]:
store_0705.describe()

,qty,store_commission,ordertotal,supply_price,qty_with_discount
count,2159093.00000,2159093.00000,2159093.00000,2159093.00000,2159093.00000
mean,1.36882,1.24356,24.77965,14.81196,0.94147
std,4.53422,1.86179,201.85263,42.46013,3.91075
min,1.00000,0.10000,0.99000,0.50000,0.00000
25%,1.00000,0.40000,4.99000,3.19000,0.00000
50%,1.00000,0.80000,9.90000,6.69000,1.00000
75%,1.00000,1.30000,18.90000,11.90000,1.00000
max,3172.00000,100.00000,126245.60000,6300.00000,3172.00000

In [22]:
store_0705.qty.idxmax()

540391

In [24]:
def func(df):
    idx = df.reset_index()['qty'].idxmax() 
    return df.iloc[idx]

In [28]:
max_0705 = func(store_0705)
max_0705

product_name         绿箭 口香糖 薄荷味 32g/盒 10盒/组
qty                                    3172
store_name                           怡梅食品商行
store_commission                    3.50000
ordertotal                     126245.60000
supply_price                       36.00000
qty_with_discount                      3172
Name: 540391, dtype: object

In [27]:
max_0706 = func(store_0706)
max_0706

product_name         绿箭 口香糖 薄荷味 32g/盒 12片/盒 10盒/组 新老包装随机
qty                                                 2000
store_name                                   岳麓老靳江小区快乐惠店
store_commission                                 2.50000
ordertotal                                   77800.00000
supply_price                                    36.00000
qty_with_discount                                      0
Name: 534105, dtype: object