In [1]:
import pandas as pd
import numpy as np

In [7]:
store_list = pd.read_excel('风控名单未标记的门店.xlsx',converters = {'门店ID': str})

In [8]:
store_list.dtypes

门店ID       object
下单天数        int64
下单人数        int64
下单微信数       int64
下单一级类目数     int64
下单供应商数      int64
总份数         int64
总金额         int64
dtype: object

In [9]:
store_list.head()

             门店ID  下单天数  下单人数  下单微信数  下单一级类目数  下单供应商数   总份数     总金额
0  66880000114872    32    54     52       27      94  9126  608955
1  66880001757384     4    10     10        1       1   151  416107
2  66880001558254    26    62     61       23      67  4579  265181
3  66880001712303    31    45     45       17      42  2461  261754
4  66880000756497    40  2356   2293       32     252  8945  260888

In [15]:
store_list['customers_diff'] = store_list['下单人数']-store_list['下单微信数']

In [18]:
store_list.describe(percentiles=[.75,.80,.85,.9,.95])

,下单天数,下单人数,下单微信数,下单一级类目数,下单供应商数,总份数,总金额,customers_diff
count,5161.000000,5161.000000,5161.000000,5161.000000,5161.000000,5161.000000,5161.000000,5161.000000
mean,30.330169,100.797520,97.696958,21.036815,107.206743,1111.900019,19892.940515,3.100562
std,12.787359,141.072953,138.130321,10.670951,102.090291,1660.249918,25675.877834,15.727160
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-4.000000
50%,37.000000,70.000000,68.000000,24.000000,79.000000,702.000000,12086.000000,0.000000
75%,41.000000,121.000000,118.000000,31.000000,161.000000,1406.000000,24494.000000,0.000000
80%,41.000000,139.000000,135.000000,32.000000,182.000000,1631.000000,28703.000000,0.000000
85%,41.000000,162.000000,157.000000,33.000000,209.000000,1991.000000,33972.000000,1.000000
90%,41.000000,193.000000,189.000000,33.000000,246.000000,2472.000000,43903.000000,3.000000
95%,41.000000,259.000000,251.000000,34.000000,305.000000,3323.000000,62768.000000,18.000000
max,41.000000,3110.000000,3110.000000,37.000000,771.000000,77890.000000,608955.000000,252.000000

In [21]:
#切换账号大于18的门店
store_list_gt18=store_list.loc[store_list.customers_diff>18].sort_values(by=['总金额','下单人数'], axis=0, ascending=[False,True])

In [22]:
store_list_gt18.to_excel('切换账号大于18个的门店.xlsx')

In [16]:
store_list.sort_values(by=['总金额','下单人数'], axis=0, ascending=[False,True]).head(20)

,门店ID,下单天数,下单人数,下单微信数,下单一级类目数,下单供应商数,总份数,总金额,customers_diff
0,66880000114872,32,54,52,27,94,9126,608955,2
1,66880001757384,4,10,10,1,1,151,416107,0
2,66880001558254,26,62,61,23,67,4579,265181,1
3,66880001712303,31,45,45,17,42,2461,261754,0
4,66880000756497,40,2356,2293,32,252,8945,260888,63
5,66880001280833,21,234,234,14,67,4279,189047,0
6,66880000146753,41,135,135,35,277,4059,184254,0
7,66880001807119,37,36,12,10,26,453,182757,24
8,66880001699297,25,430,178,12,32,3480,180908,252
9,66880000399857,41,264,264,37,395,8124,179149,0
10,66880000599659,41,116,116,30,110,4333,174520,0
11,66880001714727,11,310,67,4,12,3234,170201,243
12,66880000540211,41,186,186,34,122,4408,169128,0
13,66880000779372,41,68,68,29,147,1286,168954,0
14,66880001304908,41,182,182,34,272,3109,168781,0
15,66880001736527,2,8,3,2,1,168,168432,5
16,66880000447897,35,213,172,17,60,3347,155522,41
17,66880001813785,27,277,77,11,25,2940,155340,200
18,66880001746497,34,427,401,12,46,3894,154092,26
19,66880001369673,41,149,150,33,288,6775,153483,-1